<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Chat | Chat App</title>
	<link rel="stylesheet" type="text/css" href="./styles/styles.css">
</head>
<body>
	<div class="content columns">
		<div class="chat_main plain">
			<h1>Welcome to the Chat App!</h1>
			<div class="chat_header">
				<form id="message-form">
					<input id="message-text" type="text" placeholder="Message" autofocus autocomplete="off"/>
					<button id="send-message">Send Message</button>
				</form>
				<button id="send-location">Send Location</button>
			</div>
			<div class="chat_history">
				<h3>Chat History:</h3>
				<ol id="history" class="rows"></ol>
			</div>
		</div>
		<div class="chat_sidebar gradient">
			<h1>Users Online:</h1>
			<ol id="list" class="rows"></ol>
		</div>
	</div>
	
	<script id="message-template" type="text/template">
		<p><b>{{from}}:</b> {{text}}</p>
		<p class="timestamp">{{timestamp}}</p>
	</script>
	<script id="location-template" type="text/template">
		<p><b>{{from}}:</b> <a href="{{url}}" target="_blank">My current location</a></p>
		<p class="timestamp">{{timestamp}}</p>
	</script>
	
	<script src="/socket.io/socket.io.js"></script>
	<script src="/js/libs/moment.js"></script>
	<script src="/js/libs/mustache.js"></script>
	<script src="/js/chat.js"></script>
</body>
</html>