* {
    margin: 0;
    padding: 0;
    font-family: Roboto;
}
h1 {
    font-size: 1.6rem;
    text-align: center;
    margin: 10px 0;
}
h3 {
    margin: 10px 0;
}

input {
    font-size: 0.85rem;
    padding: 5px;
}
input:focus, button:focus {
    outline: none;
}
button, label {
    font-family: "Roboto Condensed";
    font-size: 0.85rem;
}
button {
    border: none;
    background: #B84550;
    color: white;
    text-shadow: 1px 1px 2px #7F6676;
    cursor: pointer;
    min-width: 100px;
}
button:hover {
    box-shadow: 2px 2px 10px 0 #7F6676;
}

.content {
    height: 100vh;
    width: 100vw;
}
.content > * {
    padding: 20px 20px;
}

.gradient {
    background: linear-gradient(to bottom right, #f05f57, #360940);
    color: white;
}
.gradient > h1 {
    text-shadow: 2px 2px 2px #7F6676;
}
.plain {
    background: whitesmoke;
    color: black;
}

.centered {
    display: flex;
    align-items: center;
    justify-content: center;
}
.columns {
    display: flex;
    flex-direction: row;
}

.rows {
    display: flex;
    flex-direction: column;
}
.rows > * {
    flex-shrink: 0;
}

.chat_main {
    flex: 0 1 80%;
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 40px);
}

.chat_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 30px;
    flex-shrink: 0;
    margin: 20px 0;
}
.chat_header form {
    display:flex;
    flex-grow: 1;
}
.chat_header input {
    flex-grow: 1;
}
.chat_header button {
    flex: 0 1 180px;
    margin-left: 20px;
}

.chat_history {
    display: flex;
    flex-direction: column;
}
.chat_history ol {
    flex-grow: 1;
    border: 1px solid grey;
    background: white;
    min-height: 25px;
    list-style-type: none;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}
.chat_history li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 0.9rem;
    margin: 2px 5px;
    max-width: 98%;
}
.chat_history > li > :first-child {
    flex-grow: 1;
}
.timestamp {
    flex: 0 0 80px;
    align-self: flex-end;
    font-size: 0.8rem;
    text-align: right;
    color: grey;
}

.chat_sidebar {
    flex: 0 1 20%;
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 40px);
}
.chat_sidebar ol {
    flex-grow: 1;
    margin-top: 15px;
    list-style-type: none;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}
.chat_sidebar li {
    align-self: center;
}

.join_window {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 400px;
    height: 250px;
}
.join_form {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.join_form > div {
    flex-shrink: 0;
    width: calc(100% - 40px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.join_form > div > label {
    flex: 1 0 30%;
}
.join_form > div > input {
    flex: 1 0 auto;
}
.join_form > button {
    width: 180px;
    height: 34px;
}